- edit ||= false
- collapsed = session[:lead_document].nil? # && @lead.errors.empty?
= subtitle :lead_document, collapsed, t(:documents)
.section
  %small#lead_document_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:lead_documents_small)) unless edit
  #lead_document{ hidden_if(collapsed) }
    %div.contactsContainer
      %div.flex.gap-custom
        %div
          %div
            %label
              Add Document:
          %div
            %input{ type: "text", name: "document_name", id: "document_name", class: "customInputsLeads w-custom-laead-form", placeholder: "Enter Document Name" }
        %div
          %div
            %label
              Document Type
          %div
            %input{ type: "text", name: "document_type", id: "document_type", class: "customInputsLeads w-custom-laead-form", placeholder: "Enter Document Type" }
      %div.mt-2
        %div
          %label
            Add Document:
        %div
          %input{type: "file", name: "documents[file]", id: "documents-file", multiple: true, class:"w-custom-laead-form-street-long"}
        %div.mt-5px
          %button{type: "button", id: "add-document-button", class:"btn btn-primary"} Add Document
    %div.contactsContainer
      %table
        %thead
          %tr.theadLeads
            %th.p-14.theadLeads Document Name New
            %th.p-14.theadLeads Document Name
            %th.p-14.theadLeads Document Type
            %th.p-14.theadLeads Document Type New
            %th.p-14.theadLeads Document Size
            %th.p-14.theadLeads Actions
        %tbody{id: "document-table"}
          - @documents.each do |document|
            %tr
              %td.p-14= document.document_name
              %td.p-14= document.file_file_name
              %td.p-14= document.file_content_type
              %td.p-14= document.document_type 
              %td.p-14= number_to_human_size(document.file_file_size)
              %td.p-14
                = link_to "Download", document.file_url, style: 'margin-right: 10px;'
                = link_to "Remove", "#", class: 'remove-document-button', data: { document_id: document.id }, style: 'margin-left: 10px;'

:javascript
  $(document).ready(function() {
    function clearHiddenInputs() {
      $('input[name="documents_to_remove[]"]').remove();
    }

    clearHiddenInputs();

    $('#add-document-button').click(function() {
    var fileInput = $('#documents-file')[0];
    var files = fileInput.files;

    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var documentName = $('#document_name').val(); // Get document name from input
      var documentType = $('#document_type').val(); // Get document type from input

      var row = $('<tr>'); // Create a new row for the document
      row.append($('<td>').text(documentName)); // Display document name in the table
      row.append($('<td>').text(file.name)); // Display file name in the table
      row.append($('<td>').text(documentType)); // Display document type in the table
      row.append($('<td>').text(formatBytes(file.size))); // Display file size in the table
      row.append($('<td>').append('<a href="#" class="remove-document-button" style="margin-left: 10px;">Remove</a>')); // Add remove button in the table row
      $('#document-table').append(row); // Append the new row to the document table

      var hiddenFileInput = $('<input>').attr({
        type: 'file',
        name: 'documents_files[]', // Add file to documents_files array
      });

      var dt = new DataTransfer();
      dt.items.add(file);

      hiddenFileInput[0].files = dt.files; // Set the file to hiddenFileInput

      $('#lead_document').append(hiddenFileInput); // Add hiddenFileInput to lead_document
    }

    fileInput.value = ''; // Clear fileInput value
  });

    function formatBytes(bytes, decimals = 2) {
      if (bytes === 0) return '0 Bytes';
      const k = 1024;
      const dm = decimals < 0 ? 0 : decimals;
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
      const i = Math.floor(Math.log(bytes) / Math.log(k));
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    }

    $(document).on('click', '.remove-document-button', function(event) {
      event.preventDefault();

      var documentId = $(this).data('document-id');

      if ($('input[name="documents_to_remove[]"][value="' + documentId + '"]').length === 0) {
        var hiddenInput = $('<input>').attr({
          type: 'hidden',
          name: 'documents_to_remove[]',
          value: documentId
        });
        $('#lead_document').append(hiddenInput);
      }

      $(this).closest('tr').remove();
    });

    

  });
