%tr
  %td.p-14= lead.company
  %td.p-14= lead.phone || lead.mobile
  %td.p-14= lead.email
  %td.p-14{:class => lead_status_class(lead.status)}= lead.status
  %td.p-14= lead.created_at.strftime("%m/%d/%Y") # Adjust date format if needed
  %td.p-14= lead.assigned_to # Assuming assigned_to is the lead owner
  %td.p-14
    -# = link_to_inline(:edit_lead, edit_lead_path(lead), text: t(:edit), class: "edit-lead-link-#{lead.id}") + " | "
    = link_to_edit(lead, class: "edit-lead-link-#{lead.id}") + " | "
    = link_to_delete(lead, confirm: t(:are_you_sure))

:javascript
  //edits leads pop up
  var editLinks = document.querySelectorAll(".edit-lead-link-#{lead.id}");
  var editLeadPopup = document.getElementById('editLeadPopup');

  editLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
      editLeadPopup.classList.add('show');
    });
  });
