- edit ||= false
- collapsed = session[:lead_reminder].nil? # Adjust this logic as needed
= subtitle :lead_reminder, collapsed, t(:Reminders)
.section
  %small#lead_reminder_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:reminder_info_small)) unless edit
  #lead_reminder{ hidden_if(collapsed) }
    = f.fields_for :reminders do |reminder_fields|
      .reminder-fields
        %div
          %div.reminiderFlex
            %div
              .field
                %div
                  = reminder_fields.label :date, t(:date)
                %div
                  = reminder_fields.date_field :date, class: "reminderInput", id:"reminderInput"
            %div
              .field.dateType
                %div
                  = reminder_fields.label :type, t(:type)
                %div
                  = select_tag "reminder[type]", options_for_select([["SMS", "sms"], ["Call", "call"], ["Email", "email"]]),  selected: "", class: "reminderInput "
          .field.mt-5px
            %div
              = reminder_fields.label :status, t(:status)
            %div
              = select_tag "reminder[status]", options_for_select([["Done", "done"], ["Pending", "pending"], ["Missing", "missing"]]),  selected: "", class: "reminderInputStatus"
