
= hook(:lead_top_section, self, f: f) do
  .section
    %div
      %div.flex.gap-custom
        %div
          %div
            .label.top{ class: "#{Setting.require_company ? 'req' : nil}" } #{t :company}:
          %div
            = f.autocomplete_field :company, autocomplete_account_name_leads_path, class:"w-custom-laead-form"
        %div
          %div
            .label.top{ class: "#{Setting.require_last_names ? 'req' : nil}" } #{t :company_address}:
          %div
            = f.text_field :company_address, class:"w-custom-laead-form"
      %div.flex.gap-custom
        %div
          .label.top #{t :email}:
          = f.text_field :email, class:"w-custom-laead-form"
        %div
          .label #{t :alt_email}:
          = f.text_field :alt_email, class:"w-custom-laead-form"

      %div.flex.gap-custom
        %div
          .label #{t :phone}:
          = f.text_field :phone, class:"w-custom-laead-form"
        %div
          .label #{t :mobile}:
          = f.text_field :mobile, class:"w-custom-laead-form"
      %div.flex.gap-custom
        %div
          .label #{t :referred_by}:
          = f.text_field :referred_by, class:"w-custom-laead-form-street-long"
      %div
        %div{style: "margin-top:6px"}
          .check_box
            = f.check_box :do_not_call, {}, true
            #{t :do_not_call}

      - if Setting.background_info && Setting.background_info.include?(:lead)
        %div
          %div(colspan="3")
            .label= t(:background_info) + ':'
            = f.text_area :background_info, style: "width:500px", rows: 3, class: "customInputsLeads "
    -# %div.mt-1
    -#   %div
    -#     #{t :street_address}:
    -#   %div
    -#     = f.text_field :email, class: "customInputsLeads w-custom-laead-form-street-long"
    -# %div.flex.gap-custom
    -#   %div
    -#     .label.top #{t :city}:
    -#     = f.text_field :email, class: "customInputsLeads w-custom-laead-form-street-city"
    -#   %div
    -#     .label.top #{t :state}:
    -#     = f.text_field :email, class: "customInputsLeads"
    -#   %div
    -#     .label.top #{t :zip_code}:
    -#     = f.text_field :email, class: "customInputsLeads"
      -# %div
      -#   = render partial: "/shared/tags", locals: {f: f, span: 3}
    = hook(:lead_top_section_bottom, self, f: f)
