= styles_for :campaign
-# = render 'search'

.remote#options{ hidden }
%div.mt-2
  %h1 CAMPAIGNS
%div#popupContainer.popup
  %div.popup-content
    -# %button#closePopUp.btn.btn-secondary.close-button X
    .remote#create_campaign{ hidden }
  
-# .list#campaigns
-#   - if @campaigns.any?
-#     = render @campaigns
-#   - else
-#     = render "shared/empty"
%div.leadsBoxContainer.mt-2
  = render 'entities/title_bar'
  %div.testTOCheck.mt-2
    %div.flex.mt-2
      %div.input-with-icon.mar-r
        %button.newCustomButton{"data-bs-target" => "#exampleModalTwo", "data-bs-toggle" => "modal", type: "button"}
          %span.button-text Sort
        %i.fa.fa-user.mar-r-icons-2
      %div
        %div.input-with-icon
          %button.newCustomButton{"data-bs-target" => "#exampleModalThree", "data-bs-toggle" => "modal", type: "button"}
            12/03/24 - 12/10/24
          %i.fa.fa-user.mar-r-icons
    %div.flex.mt-2
      %div.mar-r
        %div.input-with-icon
          %button.newCustomButton{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", type: "button"}
            Filters
          %i.fa.fa-user.mar-r-icons-2
  %table.fs-14.tableBorderLeads.mt-2
    %thead
      %tr
        %th.p-14.theadLeads Campaing Name
        %th.p-14.theadLeads Assigned To    
        %th.p-14.theadLeads Budget
        %th.p-14.theadLeads Leads Count 
        %th.p-14.theadLeads Revenue  
        %th.p-14.theadLeads Starts On  
        %th.p-14.theadLeads Ends On     
        %th.p-14.theadLeads Target Leads 
    %tbody
      - @campaigns.each do |campaign|
        %tr
          %td.p-14= campaign.name
          %td.p-14= campaign.assigned_to
          %td.p-14= campaign.budget
          %td.p-14= campaign.leads_count
          %td.p-14= campaign.revenue
          %td.p-14= campaign.starts_on # Adjust date format if needed
          %td.p-14= campaign.ends_on # Assuming assigned_to is the lead owner
          %td.p-14= campaign.target_leads
          %td.p-14
            -# = link_to 'Edit', edit_lead_path(lead) # Adjust link path as needed
            -# = link_to 'Delete', lead_path(lead), method: :delete, data: { confirm: 'Are you sure?' } 

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

:javascript 
  console.log("working")
 
  var collapsePopUpButton = document.getElementById('collapsePopUp');
  var popupContainer = document.getElementById('popupContainer');
  var closePopUpButton = document.getElementById('closePopUp');
  var closePopUpModalButton = document.getElementById('closePopUpModal');
  var createLead = document.getElementById('create_lead')
  console.log("closePopUpModalButton", closePopUpModalButton )
  console.log("createLead", createLead )

  collapsePopUpButton.addEventListener('click', function() {
    console.log("clicking")
    popupContainer.classList.toggle('show');
    console.log("createLead", createLead )
  });

  closePopUpButton.addEventListener('click', function() {
    popupContainer.classList.remove('show');
  });

  closePopUpModalButton.addEventListener('click', function() {
    var popupContainer = document.getElementById('popupContainer');
    console.log("clicking")
    popupContainer.classList.remove('show');
  });
